<!DOCTYPE html>
<html>
<head>
    <title>About - Water Quality Indicator</title>
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <h1 class="navbar-logo">Water Quality Indicator</h1>
            <ul class="navbar-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/w_q_c">Water Quality Criteria</a></li>
                <li><a href="/data_set">Data Set</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>About Water Quality Indicator</h1>
        <p>Welcome to the Water Quality Indicator, a project developed to predict water potability based on various water quality criteria.</p>
        
        <h2>Project Description</h2>
        <p>The main objective of this project is to help individuals and communities assess the safety of their water sources by providing a prediction of whether the water is potable or not. The prediction is based on an advanced machine learning model trained on a dataset of water quality parameters and potability labels.</p>
        
        <h2>Features</h2>
        <ul>
            <li>Prediction of water potability</li>
            <li>Simple and user-friendly interface</li>
            <li>Real-time analysis of water quality</li>
        </ul>
        
        <h2>Data Source</h2>
        <p>The dataset used for training the machine learning model was obtained from a reliable water quality monitoring organization. It contains various water quality parameters, such as pH, hardness, solids, chloramines, sulfate, organic carbon, trihalomethanes, and turbidity, along with corresponding labels indicating water potability.</p>
        
        <h2>Technology Stack</h2>
        <ul>
            <li>Front-end: HTML, CSS, JavaScript</li>
            <li>Back-end: Python, Flask</li>
            <li>Machine Learning: scikit-learn</li>
            <li>Server: Node.js, Express</li>
        </ul>
        
        <h2>Team Members</h2>
        <ul>
            <li>Siddharth Pandey - Team Lead and Full-Stack Developer</li>
            <li>Supreet A Patil - Back-end Developer</li>
            <li>Sujal Thapa - Machine Learning Specialist</li>
            <li>Ritik Roshan - Front-End Developer</li>
        </ul>
        
        <h2>Contact Information</h2>
        <p>If you have any questions or feedback, please feel free to reach out to us at contact@waterqualityindicator.com</p>
    </div>
</body>
</html>
