<!DOCTYPE html>
<html>
<head>
  <title>Water Quality Result</title>
  <link rel="stylesheet" type="text/css" href="./result.css">
</head>
<body>
  <div class="container">
    <h1>Water Quality Result</h1>
    <p class="message"><%= message %></p>
    <div class="button-container">
      <a href="/form" class="button">Back to Form</a>
      <a href="/home" class="button">Back to Home</a>
    </div>
  </div>
</body>
</html>

