<!-- criteria.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Water Quality Criteria</title>
    <link rel="stylesheet" type="text/css" href="w_q_c.css">
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <h1 class="navbar-logo">Water Quality Indicator</h1>
            <ul class="navbar-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/data_set">Data Set</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1>Water Quality Criteria</h1>
        <ul>
            <li><strong>pH:</strong> pH is a measure of how acidic or alkaline the water is. The ideal pH range for drinking water is between 6.5 and 8.5.</li>
            <li><strong>Hardness:</strong> Hardness refers to the concentration of calcium and magnesium in the water. It is measured in milligrams per liter (mg/L) or parts per million (ppm). Hard water may cause scale buildup in pipes and appliances.</li>
            <li><strong>Solids:</strong> Total dissolved solids (TDS) represent the amount of inorganic and organic substances dissolved in the water. High TDS levels may affect the taste and safety of the water.</li>
            <li><strong>Chloramines:</strong> Chloramines are disinfectant chemicals used to treat water. They are a combination of chlorine and ammonia. High levels of chloramines may cause taste and odor issues.</li>
            <li><strong>Sulfate:</strong> Sulfate is a naturally occurring mineral in water. High sulfate levels may have a laxative effect on some people.</li>
            <li><strong>Organic Carbon:</strong> Organic carbon in water comes from decaying plants and animals. It can react with disinfectants and form harmful byproducts.</li>
            <li><strong>Trihalomethanes:</strong> Trihalomethanes are byproducts of water disinfection. High levels of trihalomethanes may increase the risk of cancer and other health issues.</li>
            <li><strong>Turbidity:</strong> Turbidity measures the cloudiness or haziness of water. High turbidity can indicate the presence of suspended particles and may affect water quality.</li>
        </ul>
    </div>
</body>
</html>
